
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adding Styles</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      class="works_on_smartphone"
     flex-direction : column
     display : flex






<footer> 
  <YOUR NAME> - <a href="<ANY LINK>" target="_blank">here</a>. 
  </YOUR>
</footer>

  </body>
</html>
