
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adding Styles</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Hello CSS!</h1>

<main> 
    <article>: contains the content of your webpage: texts, links, images, tweets</article>
  </main>

<aside>
    <p> just reading for now “placeholder to add comment thread later”.</p>
  </aside>

  </body>
</html>
